<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Table to Model API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body class="bg-solar">
    <main id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Table-To-Model-Api</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.js">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="content container-fluid">
            <section class="mt-lg-5 ml-lg-3">
                <div class="breadcrumb" style="width: 15%">
                    <li class="breadcrumb-item active">Home</li>
                </div>

                <div class="mt-lg-5 card">
                    <div class="card-header">Upload Text File</div>

                    <div class="body mt-lg-3 p-3">
                        <form class="form-group" method="post" id="uploadForm">
                            <div class="form-group">
                                <input type="file" name="file" class="form-control-file" id="file" @change="processFile($event)">
                            </div>
                            <div class="form-group" style="width: 30%">
                                <input class="form-control" v-model="modelName" type="text" placeholder="Type Model name">
                            </div>
                            <br>
                            <button class="btn btn-primary" type="button" @click="upload()">Upload</button>
                        </form>
                    </div>
                </div>
            </section>

            <section class="ml-lg-3 mt-lg-3 row">
                <div class="col-lg-6 card">
                    <div class="card-header">Files Converted</div>
                </div>
                <div class="col-lg-6 card">
                    <div class="card-header">Convertion Output</div>

                    <div class="body mt-lg-3">
                        <code class="code">
              <pre style="padding: 0px">
                {{ model }}
            </pre>
          </code>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="assets/js/main.js"></script>

</html>